# Shared
JWT_SECRET=change_me_super_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=120

# Backend
BACKEND_PORT=8000
DATABASE_URL=postgresql+psycopg://neon_user:password@ep-xxxxx.us-east-2.aws.neon.tech/neondb?sslmode=require
CORS_ORIGINS=http://localhost:3000
RATE_LIMIT_PER_MINUTE=60

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1
